<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Details</title>
</head>
<body>
    <h1>{{ course.name }}</h1>
    <p><strong>Description:</strong> {{ course.description }}</p>
    <p><strong>Instructor:</strong> {{ course.instructor }}</p>
    <p><strong>Duration:</strong> {{ course.duration }} weeks</p>
    <p><strong>Start Date:</strong> {{ course.start_date }}</p>
    <p><strong>Start Date:</strong> {{ course.video }}</p>

    
    <!-- Add more course fields as necessary -->

    <a href="{% url 'courses:course_list' %}">Back to Course List</a>
</body>
</html>
